.vscode
.scrapy
__pycache__
articles.json
results.json
jupyter-notebook

pinkbike_scraper/pinkbike_scraper/pinkbike_database.db
pinkbike_scraper/pinkbike_scraper/spiders/pinkbike_database.db
pinkbike_scraper/pinkbike_scraper/spiders/pinkbike.json
pinkbike_scraper/pinkbike_scraper/spiders/pinkbike_database.db-journal
pinkbike_scraper/pinkbike_scraper/spiders/pinkbike_log.txt

pinkbike_analysis/.ipynb_checkpoints
pinkbike_analysis/._pinkbike_analysis.ipynb
pinkbike_analysis/src/*

rar_scraper/rar_log.txt
rar_scraper/rar_scraper/spiders/rar_log.txt
pinkbike_scraper/pinkbike_scraper/spiders/comments.json
rar_scraper/rar_scraper/rar_log.txt
rar_scraper/rar_scraper/rootsandrain_database.db
rar_scraper/rar_scraper/rootsandrain_database.db-journal
